<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css">
  <link rel='stylesheet' id='roboto-subset.css-css'  href='https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5' type='text/css' media='all' />
 
  <title>GlobalTekMed:</title>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
<style>
body { /* or another parent element */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    margin: 0;
    padding: 0;
}

.centered-div {
    height: auto;
    min-height: 200px;
    min-width: 200px;
    width: 50%; /* or any desired width */
    height: 50%; /* or any desired height */
    background-image: url('/sites/svg/gtmlogo/GTM_Technology');
    background-size: 100% 100%; /* this makes sure the image covers the entire div */
    background-repeat: no-repeat;
    background-position: center; /* centers the background image */
}
</style>
</head>
<body>
  <div id="container" style="display:block;" class="modal frame fade top show" >
    <div class="modal-dialog modal-frame modal-top show" >
      <div class="modal-content rounded-0" >
        <div class="modal-body py-1" >
          <div class="d-flex justify-content-center align-items-center my-3" >
            <p class="pt-3 mx-4" >Welcome!</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="centered-div">
  </div>
</body>
</html>