<!DOCTYPE html>
<html lang="en">
<head>
<title>GlobalTekMed:</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#33b5e5">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
 <link rel="stylesheet" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css">
 <link rel='stylesheet' id='roboto-subset.css-css'  href='https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5' type='text/css' media='all' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="canonical" href="https://mdbootstrap.com/docs/standard/extended/login/" />
</head>
<body class="mdb-skin-custom "  data-mdb-spy="scroll" data-mdb-target="#scrollspy" data-mdb-offset="250" >
   <section class="pb-4">
  <div class="bg-white border rounded-5">
    
    <section class="w-100 p-4">
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }
    body {
	background-color: 'cccccc';
    }
    .cb-img {
	max-height: 12em;
	max-width: 18em;
    }
    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
	    <img class='cb-img' src="/sites/svg/gtmlogo/GTM_Veteran_Access">
            <h2 class="fw-bold mb-5">Veteran Register</h2>
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="first_name" class="form-control" />
                    <label class="form-label" for="first_name">First name</label>
 		    <div class="form-notch">
			<div class="form-notch-leading" style="width: 9px;"></div>
			<div class="form-notch-middle" style="width: 68.8px;"></div>
			<div class="form-notch-trailing"></div>
		     </div>
        </div>
		</div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="last_name" class="form-control" />
                    <label class="form-label" for="last_name">Last name</label>
 		    <div class="form-notch">
			<div class="form-notch-leading" style="width: 9px;"></div>
			<div class="form-notch-middle" style="width: 68px;"></div>
			<div class="form-notch-trailing"></div>
		     </div>
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="text" id="signup_email" class="form-control"/>
                <label class="form-label" for="signup_email">Email Address</label>
 		    <div class="form-notch">
			<div class="form-notch-leading" style="width: 9px;"></div>
			<div class="form-notch-middle" style="width: 88.8px;"></div>
			<div class="form-notch-trailing"></div>
		     </div>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="signup_password" class="form-control" />
                <label class="form-label" for="signup_password">Password</label>
 		    <div class="form-notch">
			<div class="form-notch-leading" style="width: 9px;"></div>
			<div class="form-notch-middle" style="width: 64.6px;"></div>
			<div class="form-notch-trailing"></div>
		     </div>
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  For added security register your mobile phone multi-factor authentication?
                </label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Register
              </button>

              <!-- Register buttons -->
              <div class="text-center">
                <p>You should receive a confirmation email at the address provided</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://s3.amazonaws.com/smartweb-pro.com/cdn/smart/images/jpg/veteran_register.jpg" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
</section>
</div>
</section>
<script>
const inputElements = document.getElementsByClassName('form-control');
for(item of inputElements) {
	item.addEventListener('input', function() {
	    if(this.value) {
        	this.classList.add('active');
	    } else {
        	this.classList.remove('active');
	    }
	})
}
</script>
</body>
</html>