<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
	<title>Node Authentication</title>
  <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" ></link>
  <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" ></link>
	<style>
		body 		{ padding-top:80px; }
</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

<h1>Disclaimer</h1>

<p>Last updated: May 22, 2019</p>

<p>The information contained on https://sandbox.smartweb-pro.com website (the "Service") is for general information purposes only.</p>

<p>Quantrex Research Inc assumes no responsibility for errors or omissions in the contents on the Service.</p>

<p>In no event shall Quantrex Research Inc be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. Quantrex Research Inc reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.</p>

<p>Quantrex Research Inc does not warrant that the Service is free of viruses or other harmful components.</p>



<h2>External links disclaimer</h2>

<p>https://sandbox.smartweb-pro.com website may contain links to external websites that are not provided or maintained by or in any way affiliated with Quantrex Research Inc</p>

<p>Please note that the Quantrex Research Inc does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>

</div>
</div>
</body>
</html>
