<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
	<title>Node Authentication</title>
  <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" ></link>
  <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" ></link>
	<style>
		body 		{ padding-top:80px; }
</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

<h1>Returns and Refunds Policy</h1>


<p>Thank you for shopping at SmartWeb Pro Enterprise Development System.</p>

<p>Please read this policy carefully. This is the Return and Refund Policy of SmartWeb Pro Enterprise Development System. The Return and Refund Policy  for SmartWeb Pro Enterprise Development System has been created with the help of <a href="https://www.termsfeed.com/">TermsFeed</a>.</p>




<h2>Digital products</h2>

<p>We do not issue refunds for digital products once the order is confirmed and the product is sent.</p>

<p>We recommend contacting us for assistance if you experience any issues receiving or downloading our products.</p>



<h2>Contact us</h2>

<p>If you have any questions about our Returns and Refunds Policy, please contact us:</p>

<ul>
<li>
    <p>By email: refunds@quantrex.com</p>
</li>
<li>
    <p>By visiting this page on our website: https://sandbox.smartweb-pro.com/refunds</p>
</li>
</ul>


</div>
</div>
</body>
</html>
