<!doctype html>
<html lang="en">
  <head>
    <title>SmartWeb Property Sheet</title>
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/smartweb-pro.com/cdn/smart/css/propertysheet.css" />
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/smartweb-pro.com/cdn/smart/css/smartfont.css" />

  </head>
  <body onunload="cleanup();" >
    <script type="text/javascript" src="https://s3.amazonaws.com/smartweb-pro.com/cdn/smart/root/swXmlHttpRequest.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/smartweb-pro.com/cdn/smart/root/SmartExtend.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/smartweb-pro.com/cdn/smart/root/lzma_worker_min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/smartweb-pro.com/cdn/smart/root/smartcommon9.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/smartweb-pro.com/cdn/smart/root/smartprops_v10.js"></script>
    <form id="PROPERTYSHEET" action="#" method="post">
      <script type="text/javascript">
        initPropertySheet();
	  getObject("WEBPAGE_1");
      </script>
    </form>
  </body>
</html>
